div{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
figure{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}
address{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
}
